* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.hidden {
  display: none;
}

header {
  background: url("../img/header/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header .header-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
}

header .header-text {
  width: 100%;
  text-align: center;
  position: relative;
}

header .header-text h1 {
  font-size: 34px;
  color: #ffffff;
  display: block;
}

header .header-text p {
  font-size: 26px;
  color: #ffffff;
  display: block;
}

header .header-text::after {
  content: "";
  display: block;
  height: 2px;
  width: 110px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 40px;
}

header .header-button {
  padding: 50px 0;
}

header .header-button .button {
  color: #ffffff;
  height: 50px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 2%;
  transition: all 0.3s;
  cursor: pointer;
}

header .header-button .button p {
  line-height: 45px;
  user-select: none;
}

header .header-button .button:hover {
  background-color: #ffffff22;
}

nav {
  max-width: 500px;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
  line-height: 30px;
  margin: 0 auto;
}

nav a {
  color: #000000;
  transition: all 0.3s;
  user-select: none;
}

nav a:hover {
  color: #ffaa2b;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.about h1 {
  font-size: 34px;
  margin-top: 80px;
}

.about h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 0 auto;
  background-color: #000000;
  margin-top: 20px;
}

.about p {
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 20px;
}

.about .about-columns .logo {
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border-radius: 50%;
  border: #f0f0f0 solid 2px;
  padding: 24px 0;
}

.about .about-columns .logo img {
  line-height: 90px;
}

.about .about-columns h2 {
  font-size: 22px;
  color: #000000;
  margin: 40px 0;
}

.about .about-columns p {
  font-size: 14px;
  color: #868585;
}

.portfolio {
  max-width: 1100px;
  margin: 0 auto;
}

.portfolio .portfolio-title {
  text-align: center;
}

.portfolio .portfolio-title h1 {
  font-size: 34px;
  margin-top: 80px;
}

.portfolio .portfolio-title h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 0 auto;
  background-color: #000000;
  margin-top: 20px;
}

.portfolio .portfolio-tabcontrol .container {
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}

.portfolio .portfolio-tabcontrol .container .row {
  line-height: 30px;
}

.portfolio .portfolio-tabcontrol .container a {
  color: #000000;
  transition: all 0.3s;
  user-select: none;
}

.portfolio .portfolio-tabcontrol .container .active {
  color: #ffaa2b;
}

.portfolio .portfolio-all-tab .slider {
  position: relative;
  padding-bottom: 56.5%;
  background-color: #000000;
}

.portfolio .portfolio-all-tab .slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.portfolio .portfolio-all-tab .slider .slide img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio-all-tab .slider .arrows {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio .portfolio-all-tab .slider #prev,
.portfolio .portfolio-all-tab .slider #next {
  margin: 0 30px;
  height: 30px;
  width: 30px;
  border-left: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  border-radius: 2px;
  transition: all, 0.2s;
  cursor: pointer;
}

.portfolio .portfolio-all-tab .slider #prev:hover,
.portfolio .portfolio-all-tab .slider #next:hover {
  border-color: #666666;
}

.portfolio .portfolio-all-tab .slider #prev {
  transform: rotate(-45deg);
}

.portfolio .portfolio-all-tab .slider #next {
  transform: rotate(135deg);
}

@keyframes rotate {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

.portfolio .portfolio-web-tab {
  height: 500px;
  background-color: #ff0000;
}

.portfolio .portfolio-apps-tab {
  height: 500px;
  background-color: #00ff00;
}

.portfolio .portfolio-other-tab {
  height: 500px;
  background-color: #0000ff;
}

.portfolio .portfolio-button {
  width: 100%;
  height: 150px;
  padding-top: 50px;
  cursor: pointer;
}

.portfolio .portfolio-button .button {
  color: #000000;
  margin: 0 auto;
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 2%;
  transition: all 0.3s;
  cursor: pointer;
}

.portfolio .portfolio-button .button p {
  line-height: 45px;
  user-select: none;
}

.portfolio .portfolio-button .button:hover {
  background-color: #00000022;
}

.partners {
  background: url("../img/header/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 0;
}

.partners .partners-title {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.partners .partners-logos {
  max-width: 900px;
  text-align: center;
  padding-top: 50px;
}

.partners .partners-logos img {
  margin: 20px 0;
}

footer {
  background-color: #3c3c3c;
  padding: 50px 0;
}

footer .footer-logo {
  text-align: center;
  height: 75px;
}

footer .footer-links {
  max-width: 285px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

footer .footer-links a {
  color: #a4a4a4;
}

footer .footer-copyright {
  text-align: center;
  color: #6c6c6c;
  font-size: 14px;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  font-size: 14px;
}

.contact .contact-title {
  text-align: center;
  margin: 80px 0;
}

.contact .contact-title h1 {
  font-size: 34px;
}

.contact .contact-title h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 0 auto;
  background-color: #000000;
  margin-top: 20px;
}

.contact .form-container input {
  background-color: #f8f7f7;
  border-top: 1px solid #000;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.contact .form-container textarea {
  background-color: #f8f7f7;
  border-top: 1px solid #000;
  height: 120px;
  width: 100%;
  resize: none;
}

.contact .form-container .form-button {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  transition: all 0.3s;
}

.contact .form-container .form-button .button {
  cursor: pointer;
}

.contact .form-container .form-button .button:hover {
  color: #555555;
}

.contact .contact-info {
  max-width: 280px;
  padding: 0 15px;
  line-height: 30px;
}

.contact .contact-info .contact-logos {
  display: flex;
}

.contact .contact-info .contact-logos .logo-wrapper {
  width: 30px;
  height: 30px;
  margin: 12px 12px 12px 0;
  border-radius: 50%;
  border: 2px solid #000000;
  padding: 4px 6px;
}

.contact .contact-info .contact-logos .logo-wrapper .contact-facebook-logo {
  height: 18px;
  width: 12px;
}

.contact .contact-info .contact-logos .logo-wrapper .contact-linkedin-logo {
  height: 14px;
  width: 14px;
}
